// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
  margin: 10px;
  padding: 10px;
  color: white;
  font-weight: bold;

  &.attendable {
    background-color: green;
  }

  &.unattendable {
    background-color: rgba(75, 33, 33, 1);
  }
}

.users {
  li {
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
  }
}


ul.rules {
  list-style-type: none;

  li {
    margin: .5em 0;
    .paragraph-title {
      display: inline;
      font-weight: bold;
    }

    ul {
      padding-left: 2em;
    }

    &::before {
      content: "§";
      font-weight: bold;
      padding-right: .3em;
    }
  }
}

table {
  .users, .user-count {
    float: left;
    margin-right: 5px;

    .gravatar {
      width: 24px;
      float: left;
      margin-right: 5px;

      @media screen and (max-width: 480px) {
        display: none;
      }
    }
  }
}
