#h2 Regler

%ul.rules
  %li
    .paragraph-title 1. (Hva loven gjelder)
    .paragraph-body
      Denne loven gjelder tidsutfordringer, samt deltageres påmelding, avmelding, og straff angående disse
  %li
    .paragraph-title 2. (Hva menes med tidsutfordring)
    .paragraph-body
      Med en tidsutfordring menes en utfordring som innebærer å være på riktig sted (§2.1) når oppmøtefristen (§2.3) passerer (§5). 
      %br
      På- og avmelding reguleres i henhold til §3.
      %br
      Deltagere (§4) som ikke fullfører tidsutfordringen (§6.1) kan bli straffet i henhold til §6.
    %ul
      %li 
        .paragraph-title 2.1 
        .paragraph-body Oppmøtested skal komme klart frem av tittelen på hver tidsutfordring.
      %li 
        .paragraph-title 2.2 
        .paragraph-body Premie skal komme klart frem av feltet premie på hver tidsutfordring.
      %li 
        .paragraph-title 2.3 
        .paragraph-body Påmeldingsfrist og oppmøtefrist skal komme klart frem av sine respektive felt på hver tidsutfordring.

  %li
    .paragraph-title 3. (På- og avmelding)
    .paragraph-body
      Brukere (§4.1) kan melde seg på, og deltagere (§4) kan melde seg av tidsutfordringer (§2) fram til påmeldingsfristen passerer (§5). 
      %br
      En påmelding blir bindende i det påmeldingsfristen passerer (§5).

  %li
    .paragraph-title 4. (Hva menes med deltager)
    .paragraph-body
      Med deltager menes en bruker av nettsiden https://tidla.us som er påmeldt den aktuelle tidsutfordtingen.
    %ul
      %li
        .paragraph-title 4.1 (Hva menes med bruker)
        .paragraph-body Med bruker menes en person med konto på nettsiden https://tidla.us.

  %li
    .paragraph-title 5. (Hva menes med at en frist har passert)
    .paragraph-body
      Med at en frist har passert menes det at klokken (§5.1) har slaget det tidspunktet som er ett selund før tidsutfordringens aktuelle frist.
    %ul
      %li
        .paragraph-title 5.1 (Hva menes med klokken)
        .paragraph-body
          Klokken på klokka.no skal brukes for å sjekke hva tiden er.

  %li
    .paragraph-title 6. (Hva menes med straff)
    .paragraph-body
      Deltagere som har fullført tidsutfordringen (§6.1) skal ikke straffes.
      %br
      Med straff menes det å kjøpe en (1) premie (§2.2) til hver av deltakere (§4) som har fullført (§6.1) tidsutfordringen (§2), eller gjennomført tidsutfordringen (§6,2) før deg. 
      %br
      For hver halvannen time som passer etter oppmøtefristen fram til du møter på riktig sted, vil du ilegges en (1) pakke kjeks som tilleggsstraff. Tilleggsstraff skal ikke overskride tre (3) pakker kjeks. Kjekspakker skal kjøpes i storkiosken, og går til fellesskapet.
      %br
      Hvis en deltager (§4) gjennomfører (§6.2) en tidsutfordring (§2), men ingen andre deltagere (§4) fullfører (§6.1) eller gjennomfører (§6.2) tidsutfordringen (§2) tidligere enn vedkommende, skal ingen straff ilegges.
    %ul
      %li
        .paragraph-title 6.1 (Hva menes med fullført tidsutfordring)
        .paragraph-body
          Med fullført tidsutfordring menes det å være på rett lokale (§2.1) i det oppmøtefristen passerer (§5).
      %li
        .paragraph-title 6.2 (Hva menes med gjennomført tidsutfordring)
        .paragraph-body Med gjennomført tidsutfordring menes det å ankomme rett lokale etter oppmøtefristen har passert, men før midnatt samme dag.

  %li
    .paragraph-title 7. (Eksport)
    .paragraph-body
      Dette produktet kan ikke eksporteres til Iran, Nord-Korea eller andre land under handelsembargo.

