@import "neat-helpers"; // or "neat-helpers" when in Rails

$column: 90px;
$gutter: 30px;
$grid-columns: 12;

// Breakpoints
$mobile-and-tablet-portrait: new-breakpoint(max-width 768px 12);
$tablet-portrait: new-breakpoint(min-width 481px max-width 768px 12);
$tablet-desktop: new-breakpoint(min-width 769px 12);
$mobile: new-breakpoint(max-width 480px 12);
$not-mobile: new-breakpoint(min-width 481px 12);
$desktop: new-breakpoint(min-width 1025px 12);
$not-desktop: new-breakpoint(max-width 1024px 12);
