body {
  font-family: 'Open Sans' sans-serif;
  font-weight: 300;
}

.outer-container {
  @include outer-container();

  @include media($not-desktop) {
    margin: 0 10px;
  }
}

.gravatar {
  border-radius: 50%;
}
